# ----------------------------------------------------------------------------
# Copyright (c) 2021-2026 DexForce Technology Co., Ltd.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ----------------------------------------------------------------------------

from __future__ import annotations

import pytest

from embodichain.lab.gym.utils import registration as env_registry

# Import registers the environment.
from embodichain.lab.gym.envs.tasks.{{ spec.category }}.{{ task_snake }} import (  # noqa: F401
    {{ task_class }},
)


def test_env_registered():
    assert "{{ gym_id }}" in env_registry.REGISTERED_ENVS


@pytest.mark.gpu
def test_env_import_smoke():
    spec = env_registry.REGISTERED_ENVS["{{ gym_id }}"]
    assert spec.cls.__name__ == "{{ task_class }}"
