name: CI/CD Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: Linux
    env:
      NVIDIA_DRIVER_CAPABILITIES: all
      NVIDIA_VISIBLE_DEVICES: all
      NVIDIA_DISABLE_REQUIRE: 1
    container: &container_template
      image: 192.168.3.13:5000/dexsdk:ubuntu22.04-cuda12.8.0-h5ffmpeg-v3
      volumes:
        - "/cache:/cache"
        - "/usr/share/vulkan/icd.d:/usr/share/vulkan/icd.d"
        - "/usr/share/vulkan/implicit_layer.d:/usr/share/vulkan/implicit_layer.d"
        - "/usr/share/glvnd/egl_vendor.d:/usr/share/glvnd/egl_vendor.d"
        - "/tmp/.X11-unix:/tmp/.X11-unix"
        - "/dev/shm/shared:/dev/shm/shared"
      options: --memory 100g --gpus device=1 --shm-size 53687091200
    steps:
      - uses: actions/checkout@v4
      - name: (CI) Code Style check
        run: |
          echo "Workspace: ${GITHUB_WORKSPACE}"
          ls
          pip install black==24.3.0
          black --check --diff --color ./
          if [ $? -ne 0 ]; then
            echo "Code style check failed, please run [black ./] before commit!"
            exit 1
          fi

  build:
    needs: lint
    runs-on: Linux
    env:
      NVIDIA_DRIVER_CAPABILITIES: all
      NVIDIA_VISIBLE_DEVICES: all
      NVIDIA_DISABLE_REQUIRE: 1
    container: *container_template
    steps:
      - uses: actions/checkout@v4
      - name: (CI) Build docs
        run: |
          # pip install -e .
          # pip install -r docs/requirements.txt
          # cd ${GITHUB_WORKSPACE}/docs
          echo "Start Building docs..."
          # make html
      - name: Upload docs artifact
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: actions/upload-pages-artifact@v3
        with: 
          path: ${{ github.workspace }}/docs/build/html
          retention-days: 3

  test:
    if: github.event_name == 'pull_request'
    needs: lint
    runs-on: Linux
    env:
      NVIDIA_DRIVER_CAPABILITIES: all
      NVIDIA_VISIBLE_DEVICES: all
      NVIDIA_DISABLE_REQUIRE: 1
    container: *container_template
    steps:
      - uses: actions/checkout@v4
      - name: (CI) Run tests
        run: |
          # pip install -e .
          echo "Unit test Start"
          # export HF_ENDPOINT=https://hf-mirror.com
          # pytest tests

  publish:
    # if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs: build
    runs-on: Linux
    permissions:
      pages: write
      id-token: write 
    env:
      NVIDIA_DRIVER_CAPABILITIES: all
      NVIDIA_VISIBLE_DEVICES: all
      NVIDIA_DISABLE_REQUIRE: 1
    container: *container_template
    steps:
      - uses: actions/checkout@v4
      - name: (CI) Publish whl package
        run: |
          echo "start build whl package..."
          pip install build
          python -m build --wheel
          echo "start publish to PYPI..."
          pip install twine
          twine upload ./dist/*.whl -u __token__ -p "${{ secrets.PYPI_API_TOKEN }}" --verbose
      - name: Upload wheel artifact
        uses: actions/upload-artifact@v4
        with: 
          name: embodichain-wheel-package
          path: ${{ github.workspace }}/dist/*.whl
          retention-days: 3
      # - name: Download docs artifact
      #   uses: actions/download-artifact@v4
      #   with:
      #     name: github-pages
      # - name: Deploy GitHub Pages
      #   uses: actions/deploy-pages@v4